@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", sans-serif;
    
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#1b65d4,#a1b4d8);
}
.game-board{
    display: none;
    width:98vw;
    height: 95vh;
    border-bottom: 35px solid rgb(35,160,35);
    position: relative;
    overflow: hidden;
   
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 75px;
    animation: pipe-animation 2.0s infinite linear;
}
.mario{
    width: 150px;
    position: absolute;
    bottom:0px;
}
.jump{
    animation: jump 500ms  ease-out;

}
.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}
@keyframes pipe-animation {
    from {
       right: -80px; 
    }
    to{
        right: 100%;
    }
    
}
@keyframes jump {
    0%{
        bottom: 0;
    }
    20%{
        bottom: 100px;
    }
    40%{
        bottom: 200px;
    }
    50%{
        bottom: 150px;
    }
    55%{
        bottom: 130px;
    }
    60%{
        bottom:100px;
    }
    70%{
        bottom: 60px;
    }
    100%{
        bottom: 0;
    }

    
}
@keyframes clouds-animation {
       from{
            right: -550px;
       } 
       to{
            right: 100%;
       }

}
.game-init{
    width: 40vw;
    height: 40vh;
    position: relative;
    left: 30%;
    top:40%;
}
.conteudo-init{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-init h1{
    padding-bottom: 80px;
    font-size: 50px;
}
.conteudo-init button{
    border: 1px solid black;
    border-radius: 30px;
    padding:10px 100px ;
    background-color: #1b65d4;
    cursor: pointer;
    font-size: 50px;
}
.conteudo-init  button:hover{
    background-color: #6691e0;
}
.game-over{
    display: none;
    width: 25vw;
    height: 35vh;
    position: relative;
    left: 35%;
    bottom: 70%;
    border: 3px solid rgb(35,160,35) ;
    border-radius: 30px;
}
.conteudo-game{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
    color: black;
    font-size: 40px;
}
.conteudo-game h1{
    color: rgb(151, 43, 43);
    font-size: 60px;
}
.conteudo-game button{
    border: 1px solid black;
    border-radius: 18px;
    padding: 10px 20px 10px 20px;
    background-color: #1b65d4;
    cursor: pointer;
    font-size: 20px;
}
.conteudo-game button:hover{
    background-color: #6691e0;
}
